<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>Cartera Magic</title>

      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

</head>
<body id="bodyerror">
    <section id="wrappererror">
        <div class="error_page">
          <%= image_tag("404.png",{ alt: "Error 404 | Lo que buscas no esta aquí" }) %>
          <h1>Error <strong>500</strong></h1>
          <h2>We're sorry, but something went wrong.</h2>
        </div>
    </section>

</body>
</html>
