<ul class="nav" id="side-menu">
   <li>

      <a href="#" id="aGoals"><i class="fa fa-users"></i> Goals <span class="fa fa-caret-square-o-right"></span></a>
  </li>
  <li>
      <a href="#" id="aRecurrents"><i class="fa fa-money"></i> Recurrents <span class="fa fa-caret-square-o-right"></span></a>
  </li>
  <li>
      <a href="#" id="aUnique"><i class="fa fa-file-text"></i> Unique <span class="fa fa-caret-square-o-right"></span></a>
  </li>
</ul>
